<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>Posts &laquo; Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Styles/admin.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/nprogress/nprogress.css" rel="stylesheet" />
    <link href="~/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <script src="~/nprogress/nprogress.js"></script>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    @RenderSection("otherstyle")
</head>
<body>
    <script>NProgress.start()</script>



    <!---主题部分 -->
    <div class="main">
        @Html.Partial("_PartialHeader")
        @RenderBody()
    </div>
    <!---侧边导航栏-->
    <div class="aside">
        <div class="profile">
            <img class="avatar" src="~/img/default.png" />
            <h3 class="name">Coder</h3>
        </div>
        <ul class="nav">
            <li>
                <a href="/Admin"><i class="fa fa-home"></i>后台首页</a>
            </li>
            <li>
                <a href="#menu-posts" class="collapsed" data-toggle="collapse">
                    <i class="fa fa-thumb-tack"></i>基础管理<i class="fa fa-angle-right"></i>
                </a>
                <ul id="menu-posts" class="collapse ">
                    <li>
                        <!-- <i class="fa fa-address-book-o"></i> -->
                        <a href="/Customer"><i class="fa fa-money"></i>客户管理</a>
                    </li>
                    <li><a href="/Press"><i class="fa fa-newspaper-o"></i>出版社管理</a></li>
                    <li><a href="/Provider"><i class="fa fa-bookmark"></i>供应商管理</a></li>
                </ul>
            </li>
            <li><a href="/Goods"> <i class="fa fa-book"></i> 商品管理</a></li>
            <li>
                <a href="/Inport"><i class="fa fa-truck"></i>进货管理</a>
            </li>
            <li>
                <a href="/Sales"><i class="fa fa-balance-scale"></i>销售管理</a>
            </li>

            <li>
                <a href="#menu-cogs" class="collapsed" data-toggle="collapse">
                    <i class="fa fa-cogs"></i>系统管理<i class="fa fa-angle-right"></i>
                </a>
                <ul id="menu-cogs" class="collapse ">
                    <li>
                        <a href="/User"><i class="fa fa-users"></i>用户管理</a>
                    </li>
                    <li>
                        <a href="/Role"><i class="fa fa-key"></i>角色管理</a>
                    </li>
                    <li>
                        <a href="/Notice"><i class="fa fa-sticky-note-o"></i>公告管理</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <script src="~/Scripts/bootstrap.js"></script>
    <script>NProgress.done()</script>
    @Html.Partial("_PartialMeuns")
</body>
</html>
