<nav class="navbar">
    <button class="btn btn-default navbar-btn fa fa-bars"></button>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="/Admin/Update"><i class="fa fa-user"></i>个人信息</a></li>
        <li><a href="/Admin/Update"><i class="fa fa-unlock-alt "></i>修改密码</a></li>
        <li><a href="/Admin/SignOut"><i class="fa fa-sign-out"></i>退出</a></li>
    </ul>
</nav>
