@section otherstyle{<link  />    }

<h3>供应商管理</h3>
<!--查询-->
<div class="row">
    <div style="padding-left:0;" class="col-md-6 ">
        <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
                <select id="select-search" class="form-control">
                    <option value="0">按公司名称搜索</option>
                    <option value="1">按电话搜索</option>
                    <option value="2">按联系人搜索</option>
                </select>
            </div>
            <div class="form-group">
                <input type="text" id="input-search" class="form-control" placeholder="Search">
            </div>
            <button type="button" id="btn-search" class="btn btn-default">Submit</button>
        </form>
    </div>
    <div class="col-md-1">
        <button style="margin: 10px 0;" data-toggle="modal" data-target="#myModal" class="btn btn-default">increase</button>
    </div>
</div>
<!--查询-->
<!--表格-->
<h2 class="sub-header">Section title</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>编号</th>
                <th>公司名称</th>
                <th>公司地址</th>
                <th>公司电话</th>
                <th>联系人</th>
                <th>手机号</th>
                <th>银行</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody id="list-tbody">
            <!--- 数据遍历  -->
        </tbody>
    </table>
</div>
<!--表格-->
<!---分页 start-->
<div class="row">
    <div class="col-md-4 col-md-offset-8">
        <nav aria-label="Page navigation">
            <ul id="pagination" class="pagination"></ul>
        </nav>
    </div>
</div>
<!---分页 end-->
<!-- Modal start -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">添加供应商</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="providername">供应商公司全称</label>
                        <input type="text" id="providername" class="form-control" placeholder="供应商公司全称">
                    </div>
                    <div class="form-group">
                        <label for="address">供应商公司地址</label>
                        <input type="text" id="address" class="form-control" placeholder="供应商公司地址">
                    </div>
                    <div class="form-group">
                        <label for="telephone">供应商公司电话</label>
                        <input type="text" id="telephone" class="form-control" placeholder="供应商公司电话">
                    </div>
                    <div class="form-group">
                        <label for="providerperson">联系人名称</label>
                        <input type="text" id="providerperson" class="form-control" placeholder="联系人名称">
                    </div>
                    <div class="form-group">
                        <label for="phone">联系人电话</label>
                        <input type="text" id="phone" class="form-control" placeholder="联系人电话">
                    </div>
                    <div class="form-group">
                        <label for="bank">银行卡名称</label>
                        <input type="text" id="bank" class="form-control" placeholder="银行卡名称">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary">提交</button>
            </div>
        </div>
    </div>
</div>
<script>

    //存储列表数据
    var $customerList = [];

    //被选中的信息id
    var id;

    //存储选择框中的项
    var option = -1;

    //存储搜索内容
    var value = "";

    var Index = 0;

    //[modal] 添加供应商ajax||修改供应商的ajax
    $(".btn-primary").click(function () {

        if ($(this).text() == "提交") {
            customerAdd();
        } else {
            customerUpdate();
        }

    })


    //[table] 修改按钮  模态框出现
    $("#list-tbody").on("click", ".btn-success", function () {
        id = $(this).attr("data-id");
        customerInfo();
    })

    //[table] 删除按钮  确定框出现
    $("#list-tbody").on("click", ".btn-danger", function () {
        id = $(this).attr("data-id");
        if (confirm("您确定要删除吗？")) {
            customerDelete();
        }
        return false;
    })

    //[pagination] 分页按钮 获取数据
    $("#pagination").on("click", "li", function () {
        Index = $(this).attr("data-pageIndex");
        if ($(this).hasClass('active')) return
        //console.log($(this).index());
        customerSearch(option, value, $(this).attr("data-pageIndex"));
    })

    //[navbar] 搜索按钮
    $("#btn-search").click(function () {
        option = $("#select-search option:selected").val();  //获取选中的项
        console.log(option);
        value = $("#input-search").val();
        console.log(value);
        customerSearch(option, value);
    })




    //[alert] 提示框
    function showTips(tips, height, time, color) {
        var windowWidth = document.documentElement.clientWidth;
        //当页面不存在时 创建
        if (!document.getElementById("tipsClass")) {
            var tipsDiv = '<div id="tipsClass"></div>';
            console.log("执行");
            $('body').append(tipsDiv);
        }
        $('div#tipsClass').css({
            'top': 0 + 'px',
            'left': (windowWidth / 2) - (tips.length * 13 / 2) + 'px',
            'position': 'absolute',
            'padding': '15px 25px',
            'background': color,//#8FBC8F
            'font-size': 12 + 'px',
            'margin': '0 auto',
            'text-align': 'center',
            'width': 'auto',
            'color': '#fff',
            'opacity': '0.8',
            'z-index': '9999',
        }).text(tips).show().animate({ 'top': height }, 200);
        setTimeout(function () { $('div#tipsClass').fadeOut(); }, (time * 800));
    }

    //[table]  渲染表格供应商信息
    function listRendering() {
        var listTemplate;
        //清空数据
        $(".table-responsive tbody").html('');

        //判断表格是否用数据
        if ($customerList.length == 0) {
            listTemplate = `<tr>
        <td style="text-align:center;line-height:100px" colspan="7">没有数据</td>
        </tr>`;
            $(".table-responsive tbody").append(listTemplate);
            return;
        }

        console.log($customerList);
        $.each($customerList, function (index, data) {
            console.log(1);
            listTemplate = `<tr>
            <td>${data.id}</td>
            <td>${data.providername}</td>
            <td>${data.address}</td>
            <td>${data.telephone}</td>
            <td>${data.providerperson}</td>
            <td>${data.phone}</td>
            <td>${data.bank}</td>
            <td>
                <a data-id=${data.id} class="btn btn-danger btn-xs">删除</a>
                <a data-id=${data.id} class="btn btn-success btn-xs">修改</a>
                <a data-id=${data.id} class="btn btn-info btn-xs">详情</a>
            </td>
        </tr>`;
            $(".table-responsive tbody").append(listTemplate);
        })

    }

    //[pagination] 分页渲染
    function pagination(pageIndex, pageCount) {
        $(".pagination").html('');
        if (pageCount == 1) {
            $(".pagination").append(``);
            return;
        }
        var start = pageIndex - 2;//计算起始位置，要求页面上显示4个数字页 1~5
        if (start < 1) {
            start = 1;
        }
        var end = start + 3;

        if (end > pageCount) {
            end = pageCount;
            start = end - 3 < 1 ? 1 : end - 3;
        }

        if (pageIndex > 1) {
            console.log("执行");
            $(".pagination").append(`<li data-pageIndex=${pageIndex - 1}><a   aria-label="Previous"><span aria-hidden="true">&laquo;</span>
            </a></li>`);
        }
        //循环遍历页数
        for (var i = start; i <= end; i++) {
            if (i == pageIndex) {
                //当前页
                $(".pagination").append(`<li class="active" data-pageIndex=${i}><a >${i}</a></li>`);
            }
            else {
                $(".pagination").append(`<li data-pageIndex=${i}><a >${i}</a></li>`);


            }
        }
        if (pageIndex < pageCount) {
            $(".pagination").append(`<li data-pageIndex=${pageIndex + 1}><a aria-label="Next"><span aria-hidden="true">&raquo;</span>
            </a></li>`);
        }
    }

    //[ajax] /Customer/Add 供应商添加
    function customerAdd() {
        $.ajax({
            type: "POST",
            url: "http://localhost:60440/Provider/Add",
            dataType: "json",
            data: {
                providername: $("#providername").val(),
                address: $("#address").val(),
                telephone: $("#telephone").val(),
                providerperson: $("#providerperson").val(),
                phone: $("#phone").val(),
                bank: $("#bank").val(),
            },
            success: function (res) {

                //打印返回结果
                console.log(res);

                if (res.state == 0) {
                    showTips(res.info, 50, 2, "#e74c3c");
                    return
                }
                //关闭模态框
                $('#myModal').modal('hide');
                showTips(res.info, 50, 2, "#8FBC8F");

                //刷新列表
                setTimeout(function () {
                    customerSearch(option, value, Index);
                }, 2000)

            },
            error: function (error) {
                console.log(error);
            }
        });
    }

    //[ajax] /Customer/Delete 供应商删除
    function customerDelete() {
        $.ajax({
            type: "POST",
            url: "http://localhost:60440/Provider/Delete",
            dataType: "json",
            data: { id },
            success: function (res) {
                //打印返回结果
                console.log(res);

                //状态判断
                if (res.state == 0) {
                    showTips(res.info, 50, 2, "#e74c3c");
                    return
                }

                //成功的
                showTips(res.info, 50, 2, "#8FBC8F");


                //刷新列表
                setTimeout(function () {
                    customerSearch(option, value, Index);
                }, 2000)

            },
            error: function (error) {
                console.log(error);
            }
        });
    }

    //[ajax] /Customer/Update 供应商修改
    function customerUpdate() {
        $.ajax({
            type: "POST",
            url: "http://localhost:60440/Provider/Update",
            dataType: "json",
            data: {
                id,
                providername: $("#providername").val(),
                address: $("#address").val(),
                telephone: $("#telephone").val(),
                providerperson: $("#providerperson").val(),
                phone: $("#phone").val(),
                bank: $("#bank").val(),
            },
            success: function (res) {

                //打印返回结果
                console.log(res);

                if (res.state == 0) {
                    showTips(res.info, 50, 2, "#e74c3c");
                    return
                }

                //关闭模态框
                $('#myModal').modal('hide');
                showTips(res.info, 50, 2, "#8FBC8F");
                $('.btn-primary').text("提交");

                //刷新列表
                setTimeout(function () {
                    customerSearch(option, value, Index);
                }, 2000);
            },
            error: function (error) {
                console.log(error);
            }
        });
    }

    //[ajax] /Customer/Search 供应商搜索
    function customerSearch(option, value, pageIndex) {
        $.ajax({
            type: "POST",
            url: "http://localhost:60440/Provider/Search",
            dataType: "json",
            data: { option, value, pageIndex },
            success: function (res) {
                //打印返回结果
                console.log(res);
                var list = res.list;
                var pageIndex = res.pageIndex;
                var pageCount = res.pageCount;
                if (list.length > 0) {
                    showTips("表格已刷新", 50, 2, "#8FBC8F");
                } else {
                    showTips("没有查询到数据", 50, 2, "#e74c3c");
                }
                $customerList = list;
                //列表渲染
                listRendering();
                pagination(pageIndex, pageCount);


            },
            error: function (error) {
                console.log(error);
            }
        })
    }

    //[ajax] Customer/Info 供应商个人信息
    function customerInfo() {
        $.ajax({
            type: "GET",
            url: "http://localhost:60440/Provider/Info",
            dataType: "json",
            data: { id },
            success: function (res) {

                //打印返回结果
                console.log(res);

                //初始化模态框中的数据
                $("#providername").val(res.providername);
                $("#address").val(res.address);
                $("#telephone").val(res.telephone);
                $("#providerperson").val(res.providerperson);
                $("#phone").val(res.phone);
                $("#bank").val(res.bank);

                //显示模态框
                $('#myModal').modal('show');
                $('.btn-primary').text("修改");
            },
            error: function (error) {
                console.log(error);
            }
        });
    }

    //供应商列表ajax
    $.ajax({
        type: "GET",
        url: "http://localhost:60440/Provider/List",
        dataType: "json",
        data: { number: 0 },
        success: function (res) {
            //打印返回结果
            console.log(res);
            $customerList = res;
        },
        error: function (error) {
            console.log(error);
        }
    });

    customerSearch(option, value, Index)


</script>
<!---Modal end -->
